:root {
    --branding-color: #3f0a0a;
    --secondry-color:rgb(7, 7, 56);
}
body {
    font-family: 'Lobster', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Zilla Slab', serif;
}


h1 {
  font-size: 46px;
  text-align: center;
  font-weight: 900;
}
h2 {
    font-size: 24px;
    text-align: center;
}
img {
    width: 1000px;
}
 li {
     list-style: none;
     font-size: 24px;
     color: var(--secondry-color);
 }
h3 {
    text-align: center;
    color: var(--branding-color);
}
p {
    font-size: 24px;
}
.btn-contact {
background: var(--branding-color);
color: white;
transition: all 150ms ease-in-out;
border-radius: 5px;
display:block;
margin:  auto; 
}
.social-links a {
    font-size: 30px;
}
.btn-contact a:hover {
    color: var(--branding-color);
    background: white;
}