:root {
    --branding-color: #3f0a0a;
    --secondry-color:rgb(7, 7, 56);
}
body {
    font-family: 'Lobster', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Zilla Slab', serif;
}


h1 {
  font-size: 46px;
  text-align: center;
  font-weight: 900;
  color: var(--secondry-color);
}
h2 {
    font-size: 24px;
    text-align: center;
    color: var(--secondry-color);
}
img {
    width: 1000px;
}
 li {
     list-style: none;
     font-size: 24px;
     line-height: 2;
 }
h3 {
    text-align: center;
    color: var(--branding-color);
    font-weight: 800;
}
p {
    font-size: 24px;
}
.btn-contact {
background: var(--branding-color);
color: white;
transition: all 150ms ease-in-out;
border-radius: 5px; 
padding: 10px 30px;
line-height: 27px;
}
.btn:hover {
    color: var(--branding-color);
    background: white;
    border-color: var(--branding-color);
}
.social-links a {
    font-size: 30px;
}

nav {
    padding: 20px 0;
    font-size: 24px;;
}
nav li {
    list-style: none;
    display: inline;
    line-height: 42px;}
nav a { 
    text-decoration: none; 
    margin-left: 20px;
    transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
    color: var(--branding-color);
}
nav ul {
    margin: 0;
    padding: 0;
}